<p id="notice"><%= notice %></p>

<h1>Recruiters</h1>

<table>
  <thead>
    <tr>
      <th>Agency</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Pass active</th>
      <th>Acc active</th>
      <th>Last in</th>
      <th>Password digest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recruiters.each do |recruiter| %>
      <tr>
        <td><%= recruiter.agency_id %></td>
        <td><%= recruiter.name %></td>
        <td><%= recruiter.surname %></td>
        <td><%= recruiter.email %></td>
        <td><%= recruiter.pass_active %></td>
        <td><%= recruiter.acc_active %></td>
        <td><%= recruiter.last_in %></td>
        <td><%= recruiter.password_digest %></td>
        <td><%= link_to 'Show', recruiter %></td>
        <td><%= link_to 'Edit', edit_recruiter_path(recruiter) %></td>
        <td><%= link_to 'Destroy', recruiter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recruiter', new_recruiter_path %>
